.Header {
  display: flex;
  justify-content: space-between;
  width: 393px;
  margin-top: 20%;
}

.Homelogo {
  margin-left: 5%;
  cursor: pointer;
}

.Mylogo {
  margin-right: 5%;
  cursor: pointer;
}
