.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 393px;
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(37, 99, 235, 1) 69.9999988079071%,
    rgba(21, 56, 133, 1) 100%
  );
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
